***                Create parameters             ***;

%let rpdate = %sysfunc(intnx(day, %sysfunc(today()), -1, B)); /* Get yesterday's date */
%let rpdate_fmt = %sysfunc(putn(&rpdate, worddate.));
%let sd = intnx('month', &rpdate., 0, 'B');

%let sd_lm = intnx('month', &rpdate., -1, 'B');
%let ed_lm = %sysfunc(min(%sysfunc(intnx(month, &rpdate, -1, S)), %sysfunc(intnx(month, &rpdate, -1, E))));
%let ed_lm_fmt = %sysfunc(putn(&ed_lm, worddate.));

%let workdir = %trim(%sysfunc(pathname(work)));

***                 DATA DAILY                   ***;

proc sql;
create table DailyNSU as 
select 
	case 	when nationality = "South Korean" then "South Korean"
			when nationality = "Chinese" then "Chinese"
			when nationality = "Chinese, Taiwanese" then "Taiwanese"
			when nationality = "Australian" then "Australian"
			when nationality = "Japanese" then "Japanese"
			when nationality = "Indonesian" then "Indonesian"
			when nationality = "Thai" then "Thai"
			when nationality = "American" then "American"
			when nationality = "Singaporean" then "SG MY"
			when nationality = "Malaysian" then "SG MY"
			when nationality = "Hong Kong, Hong Kongese" then "HK MO"
			when nationality = "Macanese, Chinese" then "HK MO"
			else "Others"
	end as Nationality,
	CurrentTier, count(MemberID) as NSU
from SGMK.PP_PATRONPROFILE
where SignUpDate=&rpdate. and LastName ~= 'DAY PASS'
group by 1, 2
;quit;

proc transpose data=DailyNSU out=daily(drop=_name_);
    by Nationality;
    id CurrentTier;
    var NSU;
run;
/* Define the expected column names */
%let expected_columns = EssentialNonGame Prestige Club Elite Infinite Total;

/* Create a list of valid columns from the dataset */
proc sql noprint;
    select name 
    into :existing_columns separated by ' '
    from dictionary.columns
    where libname="WORK" and memname="DAILY" and type="num";
quit;

/* Create a macro to handle missing columns */
%macro add_missing_columns;
    %local col;
    %do i = 1 %to %sysfunc(countw(&expected_columns.));
        %let col = %scan(&expected_columns., &i.);
        
        %if %index(&existing_columns., &col.) = 0 %then %do;
            %put NOTE: Column &col. is missing. Creating it with default value 0.;
            data Daily;
                set Daily;
                &col. = 0;
            run;
        %end;
    %end;
%mend add_missing_columns;

/* Run the macro to add missing columns */
%add_missing_columns;

/* Replace missing values (.) with 0 */
proc sql;
    create table result_Replaced as
    select Nationality,
           coalesce(EssentialNonGame, 0) as EssentialNonGame,
           coalesce(Prestige, 0) as Prestige,
           coalesce(Club, 0) as Club,
           coalesce(Elite, 0) as Elite,
           coalesce(Infinite, 0) as Infinite
    from Daily;
quit;
/* Add a Total Column */
data daily11;
    set result_Replaced;
    Total = sum(of _numeric_); /* Sum across all numeric columns (tiers) */
run;
proc sql;
create table daily1 as 
select Nationality, Prestige, Elite, Club, Infinite, 
Total -  EssentialNonGame as Gaming,
EssentialNonGame as NonGaming, Total from daily11;quit;
/* Create a Total Row */
proc summary data=daily1 nway;
    var _numeric_;
    output out=TotalRow (drop=_TYPE_ _FREQ_) sum=;
run;
/* Assign "Overall" as the RegionGroup for the Total Row */
data TotalRow;
    set TotalRow;
    Nationality = "Total"; 
run;
data Result_Daily;
    set daily1 TotalRow; /* Append TotalRow to daily1 */
run;
data result_daily_reordered;
    set Result_Daily;
    if Nationality = "Total" then OrderVar = 2;   /* Last row */
    else if Nationality = "Others" then OrderVar = 1.5; /* Move "Others" above Total */
    else OrderVar = 1;  /* Keep all other rows in current order */
run;

/* Step 2: Sort the data */
proc sort data=result_daily_reordered out=result_daily_final(drop=OrderVar);
    by OrderVar;
run;
proc sql;
    drop table DailyNSU, TotalRow, daily1, daily11,
				Daily, result_replaced, result_daily_reordered, Result_Daily;
quit;

***                    DATA MTD                      ***;

proc sql;
create table mtdNSU as
select 
	case 	when nationality = "South Korean" then "South Korean"
			when nationality = "Chinese" then "Chinese"
			when nationality = "Chinese, Taiwanese" then "Taiwanese"
			when nationality = "Australian" then "Australian"
			when nationality = "Japanese" then "Japanese"
			when nationality = "Indonesian" then "Indonesian"
			when nationality = "Thai" then "Thai"
			when nationality = "American" then "American"
			when nationality = "Singaporean" then "SG MY"
			when nationality = "Malaysian" then "SG MY"
			when nationality = "Hong Kong, Hong Kongese" then "HK MO"
			when nationality = "Macanese, Chinese" then "HK MO"
			else "Others"
	end as Nationality,
	CurrentTier, count(MemberID) as NSU
from SGMK.PP_PATRONPROFILE
where 	SignUpDate>=&sd. and SignUpDate <= &rpdate. 
		and LastName ~= 'DAY PASS'
group by 1, 2
;quit;

proc transpose data=mtdNSU out=mtd(drop=_name_);
    by Nationality;
    id CurrentTier;
    var NSU;
run;
/* Define the expected column names */
%let expected_columns = EssentialNonGame Prestige Club Elite Infinite Total;

/* Create a list of valid columns from the dataset */
proc sql noprint;
    select name 
    into :existing_columns separated by ' '
    from dictionary.columns
    where libname="WORK" and memname="MTD" and type="num";
quit;

/* Create a macro to handle missing columns */
%macro add_missing_columns;
    %local col;
    %do i = 1 %to %sysfunc(countw(&expected_columns.));
        %let col = %scan(&expected_columns., &i.);
        %if %index(&existing_columns., &col.) = 0 %then %do;
            %put NOTE: Column &col. is missing. Creating it with default value 0.;
            data mtd;
                set mtd;
                &col. = 0;
            run;
        %end;
    %end;
%mend add_missing_columns;

/* Run the macro to add missing columns */
%add_missing_columns;

/* Replace missing values (.) with 0 */
proc sql;
    create table result_Replaced as
    select Nationality,
           coalesce(EssentialNonGame, 0) as EssentialNonGame,
           coalesce(Prestige, 0) as Prestige,
           coalesce(Club, 0) as Club,
           coalesce(Elite, 0) as Elite,
           coalesce(Infinite, 0) as Infinite
    from mtd;
quit;
/* Add a Total Column */
data mtd12;
    set result_Replaced;
    Total = sum(of _numeric_); /* Sum across all numeric columns (tiers) */
run;
proc sql;
create table mtd11 as 
select Nationality, Prestige, Elite, Club, Infinite, 
Total -  EssentialNonGame as Gaming,
EssentialNonGame as NonGaming, Total from mtd12;quit;
/* Create a Total Row */
proc summary data=mtd11 nway;
    var _numeric_;
    output out=TotalRow (drop=_TYPE_ _FREQ_) sum=;
run;

/* Assign "Overall" as the RegionGroup for the Total Row */
data TotalRow;
    set TotalRow;
    Nationality = "Total"; 
run;
data Result_MTD;
    set mtd11 TotalRow; /* Append TotalRow to daily1 */
run;
/* Step 1: Assign an order variable */
data result_MTD_reordered;
    set result_MTD;
    if Nationality = "Total" then OrderVar = 2;   /* Last row */
    else if Nationality = "Others" then OrderVar = 1.5; /* Move "Others" above Total */
    else OrderVar = 1;  /* Keep all other rows in current order */
run;

/* Step 2: Sort the data */
proc sort data=result_MTD_reordered out=result_MTD_final(drop=OrderVar);
    by OrderVar;
run;
proc sql;
    drop table mtdNSU, TotalRow, mtd, mtd11, result_replaced,
				result_MTD, result_MTD_reordered, mtd12;
quit;

***           CREATE BAR CHART            ***;

proc sql;
create table lmNSU as
select 
	case 
		when CurrentTier = "EssentialNonGame" then "NonGaming" 
		else "Gaming"
	end as CurrentTier,
	count(MemberID) as NSU
from SGMK.PP_PATRONPROFILE
where 	SignUpDate>=&sd_lm. and SignUpDate <= &ed_lm. 
		and LastName ~= 'DAY PASS'
group by 1
;quit;

proc sql;
create table tmNSU as
select 
	case 
		when CurrentTier = "EssentialNonGame" then "NonGaming" 
		else "Gaming"
	end as CurrentTier,
	count(MemberID) as NSU
from SGMK.PP_PATRONPROFILE
where 	SignUpDate>=&sd. and SignUpDate <= &rpdate. 
		and LastName ~= 'DAY PASS'
group by 1
;quit;

/* Step 1: Add Labels with Sufficient Length for Type */
data tmNSU_labeled;
    length Type $30;  /* Ensure sufficient space for long labels */
    set tmNSU;
    Type = "Current month"; /* Use catt() to avoid extra spaces */
run;

data lmNSU_labeled;
    length Type $30;  /* Ensure sufficient space for long labels */
    set lmNSU;
    Type = "Last month";
run;

/* Step 2: Combine Both Tables */
data combined_NSU;
    set tmNSU_labeled lmNSU_labeled;
run;
ods listing gpath="&workdir.";
ods graphics on/ reset=index imagefmt=png imagename='NSU_Bar_Chart' width=800px height=300px noborder;
title 'Comparison of MTD Membership NSU (Current Month vs. Last Month)';

proc sgplot data=combined_NSU noborder;
	format NSU comma12.;
    hbar Type / response=NSU 
                group=CurrentTier 
                groupdisplay=stack 
				seglabel
				seglabelattrs=(size=10 weight=normal color=black)
                datalabel
				datalabelattrs=(size=10 weight=bold color=black);
    xaxis display=(nolabel);
    yaxis display=(nolabel) valuesattrs=(size=10 weight=normal color=black);
    title "Comparison of MTD Membership NSU (Current Month vs. Last Month)";
run;

ods layout end;
ods graphics off;


*** CREATING TEMPLATE FOR SENDING EMAIL ***;

proc template;
   define style styles.test;
      parent=styles.htmlblue;
      class systitleandfootercontainer /
            htmlstyle="border:none";
   end;
run;

options emailsys=smtp /*emailhost="10.102.0.20"*/;

filename myemail email
to= ('person1@company.com')
cc= ('person2@company.com' 'person3@company.com' 'person4@company.com'
from='autoreport@company.com'
type='text/html' subject="Daily Membership NSU Summary on &rpdate_fmt."
attach=("&workdir.\NSU_Bar_Chart.png" inlined='barchart');
ods html file=myemail style=styles.test;

*** TEMPLATE ***;

proc report data=result_daily_final nowd 
	style(report)={frame=box rules=all bordercolor=#333333 borderwidth=1px}
    style(header)={just=c background=#203764 foreground=white fontweight=bold}
    style(column)={just=right};
compute Nationality;
        if Nationality = "Total" then 
            call define(_row_, "style", "style={background=#f8eece foreground=black fontweight=bold}");
    endcomp;
compute Total;
    call define(_col_, "style", "style={background=#f8eece foreground=black fontweight=bold}"); /* Gold background */
endcomp;

compute Gaming;
    call define(_col_, "style", "style={foreground=black fontweight=bold}");
endcomp;

compute NonGaming;
    call define(_col_, "style", "style={foreground=black fontweight=bold}");
endcomp;
define Nationality / display style(column)={just=center};
define Prestige / display format=comma12.;
define Club / display format=comma12.;
define Elite / display format=comma12.;
define Infinite / display format=comma12.;
define Gaming / display format=comma12.;
define NonGaming / display format=comma12.;
define Total / display format=comma12.;
title font='Calibri' bold height=15pt justify=center "Daily NSU by Nationality and Current Tier on &rpdate_fmt.";
run;

proc report data=result_MTD_final nowd 
	style(report)={frame=box rules=all bordercolor=#333333 borderwidth=1px}
    style(header)={just=c background=#203764 foreground=white fontweight=bold}
    style(column)={just=right}; 
compute Nationality;
        if Nationality = "Total" then 
            call define(_row_, "style", "style={background=#f8eece foreground=black fontweight=bold}");
    endcomp;
compute Total;
    call define(_col_, "style", "style={background=#f8eece foreground=black fontweight=bold}"); /* Gold background */
endcomp;

compute Gaming;
    call define(_col_, "style", "style={foreground=black fontweight=bold}");
endcomp;

compute NonGaming;
    call define(_col_, "style", "style={foreground=black fontweight=bold}");
endcomp;
define Nationality / display style(column)={just=center};
define Prestige / display format=comma12.;
define Club / display format=comma12.;
define Elite / display format=comma12.;
define Infinite / display format=comma12.;
define Gaming / display format=comma12.;
define NonGaming / display format=comma12.;
define Total / display format=comma12.;

title font='Calibri' bold height=15pt justify=center "MTD NSU by Nationality and Current Tier to &rpdate_fmt.";
run;

ods html text='<p style="font-family:Calibri; font-size:14pt; font-weight:bold; 
                         text-align:center; margin-bottom:10px; border:none; outline:none;">
               Comparison of MTD Membership NSU (Current Month vs. Last Month)
              </p>';

ods html text='<div style="text-align:center;">
                 <img src="cid:barchart" alt="NSU Chart" 
                      style="width:100%; max-width:800px; border:none; display:block; margin:auto;">
               </div>';
ods html close;
ods listing;
filename myemail clear;